{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plasmid_search.css') }}">
<h1 style="text-align: center; color: #236ca1">Edit Plasmid</h1>
<div class="row">
    <p><strong style="color: #b40000">Edit instructions:</strong><br>
        Change values in the fields below to edit a Plasmid record. Note that you cannot change the pVD number or the date it was added to the database.
    </p>
</div>
<div class="container" style="padding-top: 25px;">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group col-sm-12">
            <div class="row">
                <div class="form-group col-sm-2">
                    <label for="pVD_number">pVD_number</label>
                    <input class="form-control" id="pVD_number" type="text" size=18 disabled value="{{ record_dict['pVD_number'] }}">
                </div>
                <div class='form-group col-sm-4'>
                    {{ form.plasmid_name.label }}
                    {{ form.plasmid_name(size=18, class="form-control", value=record_dict['plasmid_name']) }}
                </div>
                <div class='form-group col-sm-2'>
                    {{ form.creator_str.label }}
                    {{ form.creator_str(size=18, class="form-control", value=record_dict['creator_str']) }}
                </div>
                <div class="form-group col-sm-2">
                    <label for="date_added">Date Added</label>
                    <input class="form-control" id="date_added" type="text" size=18 disabled value="{{ record_dict['date_added'] or '' }}">
                </div>
            </div>
            <div class="row">
                <div class='form-group col-sm-12'>
                    {{ form.simple_description.label }}
                    {{ form.simple_description(size=18, class="form-control", value=record_dict['simple_description']) }}
                </div>
            </div>
            <div class="row">
                <div class='form-group col-sm-3'>
                    {{ form.backbone.label }}
                    {{ form.backbone(size=18, class="form-control", value=record_dict['backbone']) }}
                </div>
                <div class='form-group col-sm-3'>
                    {{ form.insert_source.label }}
                    {{ form.insert_source(size=18, class="form-control", value=record_dict['insert_source']) }}
                </div>
                <div class='form-group col-sm-3'>
                    {{ form.vector_digest.label }}
                    {{ form.vector_digest(class="form-control", value=record_dict['vector_digest']) }}
                </div>
                <div class='form-group col-sm-3'>
                    {{ form.insert_digest.label }}
                    {{ form.insert_digest(class="form-control", value=record_dict['insert_digest']) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <span style="font-weight: bold; color: #236ca1;">Current bacterial copy number: </span><span style="font-weight: bold;">{{ record_dict['copy_no_bacteria'] }}</span>
                    {{ form.copy_no_bacteria(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <span style="font-weight: bold; color: #236ca1;">Current plasmid type: </span><span style="font-weight: bold;">{{ record_dict['plasmid_type'] }}</span>
                    <select class="form-control" id="plasmid_type" name="plasmid-type">
                        <option value="">Select one</option>
                        <option value="Other">Other</option>
                        <optgroup label="Bacterial">
                            <option value="Cloning Vector">Cloning vector</option>
                            <option value="E. coli expression">E. coli expression</option>
                            <option value="BAC">BAC</option>
                        </optgroup>
                        <optgroup label="Yeast">
                            <option value="Yeast CEN/ARS">Yeast CEN/ARS</option>
                            <option value="Yeast 2 Micron">Yeast 2 Micron</option>
                            <option value="Yeast Integrating">Yeast Integrating</option>
                            <option value="YAC">YAC</option>
                        </optgroup>
                        <optgroup label="Mammalian">
                            <option value="Mammalian Transient Expression">Mammalian Transient Expression</option>
                            <option value="Mammalian Retroviral">Mammalian Retroviral</option>
                            <option value="Mammalian Lentiviral">Mammalian Lentiviral</option>
                            <option value="Mammalian Integrating">Mammalian Integrating</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="plasmid_type_other">Plasmid type (Other)</label>
                    {{ form.plasmid_type_other(size=18, class="form-control", placeholder="Other") }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <span style="font-weight: bold; color: #236ca1;">Current bacterial selection: </span><span style="font-weight: bold;">{{ record_dict['bac_selection'] }}</span>
                    {{ form.bac_selection(class="form-control") }}
                </div>
                <div class="form-group col-sm-6">
                    <label for="bac_sel_other">Bacterial selection (Other)</label>
                    {{ form.bac_sel_other(size=18, class="form-control", placeholder="Other")}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <span style="font-weight: bold; color: #236ca1;">Current yeast/mammalian selection: </span><span style="font-weight: bold;">{{ record_dict['yeast_mamm_selection'] }}</span>
                    <select class="form-control" id="yeast_mamm_selection" name="yeast_mamm_selection">
                        <option value="">Select one</option>
                        <option value="NA">Not applicable</option>
                        <option value="Other">Other/Multi</option>
                        <optgroup label="Yeast">
                            <option value="TRP">TRP</option>
                            <option value="HIS">HIS</option>
                            <option value="URA">URA</option>
                            <option value="LEU">LEU</option>
                            <option value="KAN">KAN</option>
                            <option value="NAT">NAT</option>
                            <option value="yHYG">HYG (Yeast)</option>
                        </optgroup>
                        <optgroup label="Mammalian">
                            <option value="Blasticidin">Blasticidin</option>
                            <option value="mHYG">HYG (Mammalian)</option>
                            <option value="Neo">Neo</option>
                            <option value="Puro">Puro</option>
                            <option value="Zeo">Zeo</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="yeast_mamm_sel_other">Yeast/Mammalian Selection (Other)</label>
                    {{ form.yeast_mamm_sel_other(size=18, class="form-control", placeholder="Other") }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <span style="font-weight: bold; color: #236ca1;">Current promoter: </span><span style="font-weight: bold;">{{ record_dict['promoter'] }}</span>
                    <select class="form-control" id="promoter" name="promoter">
                        <option value="">Select one</option>
                        <option value="Other">Other</option>
                        <optgroup label="E. coli">
                            <option value="PT7">PT7</option>
                            <option value="PR">PR</option>
                            <option value="Plac">Plac</option>
                            <option value="Ptac">Ptac</option>
                            <option value="Para">Para</option>
                            <option value="Psyn1">Psyn1</option>
                            <option value="Psyn135">Psyn135</option>
                        </optgroup>
                        <optgroup label="Yeast">
                            <option value="pGAL">pGAL</option>
                            <option value="pTDH3">pTDH3/pGPD</option>
                            <option value="pZ4EV">pZ4EV</option>
                            <option value="pZ3EV">pZ3EV</option>
                            <option value="pTET">pTET</option>
                            <option value="pCUP">pCUP</option>
                            <option value="pMET">pMET</option>
                        </optgroup>
                        <optgroup label="Mammalian">
                            <option value="CMV">CMV</option>
                            <option value="CAG">CAG</option>
                            <option value="MSCV">MSCV</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="promoter_other">Promoter (Other)</label>
                    {{ form.promoter_other(class="form-control", size=18, placeholder="Other") }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <span style="font-weight: bold; color: #236ca1;">Current fusion: </span><span style="font-weight: bold;">{{ record_dict['fusion'] }}</span>
                    {{ form.fusion(class="form-control") }}
                </div>
                <div class="form-group col-sm-6">
                    <label for="fusion_other">Fusion (Other)</label>
                    {{ form.fusion_other(class="form-control", size=18, placeholder="Other") }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    {{ form.notes.label }}
                    {{ form.notes(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <!-- placeholder -->
                </div>
                <div class="form-group col-sm-3">
                    {% if record_dict['data_filename'] %}
                    {{ form.download_data(class="form-control", size=32, style="font-weight: bold; color: #236ca1;") }}
                    {% endif %}
                </div>
                <div class="form-group col-sm-3">
                    {% if record_dict['map_filename'] %}
                    {{ form.download_map(class="form-control", size=32, style="font-weight: bold; color: #236ca1;") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <tr>
                        <td>{{ form.sequenced() }}</td>
                        <td>{{ form.sequenced.label(style="text-align: center;") }}</td>
                    </tr>
                </div>
                <div class="form-group col-sm-3">
                    {{ form.data_file.label }}
                    {% if record_dict['data_file'] %}
                    <span style="font-weight: bold; color: #236ca1;">A data file is already present. You can replace it with the button below.</span>
                    {% endif %}
                    {{ form.data_file() }}
                </div>
                <div class="form-group col-sm-3">
                    {{ form.plasmid_map.label}}
                    {% if record_dict['plasmid_map'] %}
                    <span style="font-weight: bold; color: #236ca1;">A plasmid map is already present. You can replace it with the button below.</span>
                    {% endif %}
                    {{ form.plasmid_map() }}
                </div>
                <div class="form-group col-sm-3">
                    {{ form.parents.label }}
                    {{ form.parents(class="form-control", size=18, placeholder="Comma-separated list of ALL parents") }}
                </div>
            </div>
            <div class="row">
                <div class='form-group col-xs-5'><strong>Note: the database is not changed until confirming on the next page.</strong>
                </div>
                <div class='form-group col-xs-3'>
                        {{ form.submit(size=32, class="form-control",style="font-weight: bold; color: #236ca1;") }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
