{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plasmid_search.css') }}">
<h1 style="text-align: center; color: #236ca1">Confirm New Plasmid</h1>
<div class="container-fluid" style="padding-top: 25px;">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group col-sm-12">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="plasmid_name">Plasmid Name</label>
                    <input class="form-control" id="plasmid_name" type="text" size=18 disabled value="{{ record_dict['plasmid_name'] }}">
                </div>
                <div class="form-group col-sm-4">
                    <label for="creator_str">Creator/Source</label>
                    <input class="form-control" id="creator_str" type="text" size=18 disabled value="{{ record_dict['creator_str'] }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-9">
                    <label for="simple_description">Description</label>
                    <input class="form-control" id="date_added" type="text" size=18 disabled value="{{ record_dict['simple_description'] }}">
                </div>
                <div class="form-group col-sm-3">
                    <label for="plasmid_type">Plasmid Type</label>
                    <input class="form-control" id="plasmid_type" type="text" size=18 disabled value="{{ record_dict['plasmid_type'] }}">
                </div>
            </div>
            <div class="row">
                <div class='form-group col-sm-3'>
                    <label for="backbone">Plasmid Backbone</label>
                    <input class="form-control" id="backbone" type="text" size=18 disabled value="{{ record_dict['backbone'] }}">
                </div>
                <div class='form-group col-sm-3'>
                    <label for="insert_source">Source of Insert</label>
                    <input class="form-control" id="insert_source" type="text" size=18 disabled value="{{ record_dict['insert_source'] }}">
                </div>
                <div class='form-group col-sm-3'>
                    <label for="vector_digest">Vector Digest</label>
                    <input class="form-control" id="vector_digest" type="text" size=18 disabled value="{{ record_dict['vector_digest'] }}">
                </div>
                <div class='form-group col-sm-3'>
                    <label for="insert_digest">Insert Digest</label>
                    <input class="form-control" id="insert_digest" type="text" size=18 disabled value="{{ record_dict['insert_digest'] }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <label for="bac_selection">Bacterial Selection</label>
                    <input class="form-control" id="bac_selection" type="text" size=18 disabled value="{{ record_dict['bac_selection'] }}">
                </div>
                <div class="form-group col-sm-3">
                    <label for="yeast_mamm_selection">Yeast/Mammalian Selection</label>
                    <input class="form-control" id="yeast_mamm_selection" type="text" size=18 disabled value="{{ record_dict['yeast_mamm_selection'] }}">
                </div>
                <div class="form-group col-sm-1">
                    <!-- spacer -->
                </div>
                <div class="form-group col-sm-3">
                    <label for="promoter">Promoter</label>
                    <input class="form-control" id="promoter" type="text" size=18 disabled value="{{ record_dict['promoter'] }}">
                </div>
                <div class="form-group col-sm-3">
                    <label for="fusion">Fusion</label>
                    <input class="form-control" id="fusion" type="text" size=18 disabled value="{{ record_dict['fusion'] }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="parent">Parent plasmids</label>
                    <input class="form-control" id="parent" type="text" size=18 disabled value="{{ record_dict['parent'] }}">
                </div>
                <div class="form-group col-sm-2">
                    <tr>
                        <td><label for="sequenced">Sequenced</label></td>
                        {% if record_dict['sequenced'] %}
                        <td><input id="sequenced" type="checkbox" disabled checked></td>
                        {% else %}
                        <td><input id="sequenced" type="checkbox" disabled></td>
                        {% endif %}
                    </tr>
                </div>
                <div class="form-group col-sm-3">
                    <span style="font-weight: bold; color: #236ca1;">Data file: </span>
                    {% if not data_fname %}
                        <span style="font-weight: bold; color: #236ca1;">None.</span>
                    {% else %}
                        <span style="font-weight: bold; color: #b40000;">{{ data_fname }}</span>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3">
                    <span style="font-weight: bold; color: #236ca1;">Plasmid map: </span>
                    {% if not plasmid_map %}
                        <span style="font-weight: bold; color: #236ca1;">None.</span>
                    {% else %}
                        <span style="font-weight: bold; color: #b40000;">{{ plasmid_map }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="notes">Notes</label>
                    <input class="form-control" id="notes" type="text" size=18 disabled value="{{ record_dict['notes'] }}">
                </div>
            </div>
            <div class="row">
                <div class='form-group col-xs-3'>
                    {{ form.submit(size=32, class="form-control",style="font-weight: bold; color: #236ca1;") }}
                </div>
                <div class="form-group col-xs-9">
                    <p>Only press this button once!</p>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
