{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{{ record_dict }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plasmid_search.css') }}">
<h1 style="text-align: center; color: #236ca1">Confirm Strain Edits</h1>
<div class="container-fluid" style="padding-top: 25px;">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group col-sm-12">
            <div class="row">
                <div class="form-group col-sm-2">
                    <label for="VDY_number">VDY Number</label>
                    <input class="form-control" id="VDY_number" type="text" size=18 disabled value="{{ record_dict['VDY_number'] }}">
                </div>
                <div class="form-group col-sm-4">
                    <label for="other_names">Other Names</label>
                    <input class="form-control" id="other_names" type="text" size=18 disabled value="{{ record_dict['other_names'] }}">
                </div>
                <div class="form-group col-sm-2">
                    <label for="creator_str">Added By</label>
                    <input class="form-control" id="creator_str" type="text" size=18 disabled value="{{ record_dict['creator_str'] }}">
                </div>
                <div class="form-group col-sm-2">
                    <label for="date_added">Date Added</label>
                    <input class="form-control" id="date_added" type="text" size=18 disabled value="{{ record_dict['date_added'] }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="strain_background">Strain Background</label>
                    <input class="form-control" id="strain_background" type="text" size=18 disabled value="{{ record_dict['strain_background'] }}">
                </div>
                <div class="form-group col-sm-3">
                    <label for="origin">Lab of Origin</label>
                    <input class="form-control" id="origin" type="text" size=18 disabled value="{{ record_dict['origin'] }}">
                </div>
                <div class="form-group col-sm-3">
                    <label for="notebook_ref">Notebook Reference</label>
                    <input class="form-control" id="notebook_ref" type="text" size=18 disabled value="{{ record_dict['notebook_ref'] }}">
                </div>
                <div class="form-group col-sm-3">
                    <label for="marker">Marker</label>
                    <input class="form-control" id="marker" type="text" size=18 disabled value="{{ record_dict['marker'] }}">
                </div>
            </div>
            <div class="row">
                <div class='form-group col-sm-3'>
                    <label for="plasmid">Replicating Plasmid</label>
                    <input class="form-control" id="plasmid" type="text" size=18 disabled value="{{ record_dict['plasmid'] }}">
                </div>
                <div class='form-group col-sm-2'>
                    <label for="plasmid_selexn">Plasmid Selection</label>
                    <input class="form-control" id="plasmid_selexn" type="text" size=18 disabled value="{{ record_dict['plasmid_selexn'] }}">
                </div>
                <div class='form-group col-sm-3'>
                    <label for="parent_strain">Parent Strain(s)</label>
                    <input class="form-control" id="parent_strain" type="text" size=18 disabled value="{{ record_dict['parent_strain'] }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <table class="table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class='col-xs-1'>Locus 1</th>
                                <th class='col-xs-1'>Locus 2</th>
                                <th class='col-xs-1'>Locus 3</th>
                                <th class='col-xs-1'>Locus 4</th>
                                <th class='col-xs-1'>Locus 5</th>
                                <th class='col-xs-1'>Locus 6</th>
                                <th class='col-xs-1'>Locus 7</th>
                                <th class='col-xs-1'>Locus 8</th>
                                <th class='col-xs-1'>Locus 9</th>
                                <th class='col-xs-1'>Locus 10</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for locus in record_dict['genotype_list'] %}
                                        <td><input class="form-control" type="text" size=18 disabled value="{{ locus['genotype'] }}"></td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <p><span style="font-weight: bold; color: #236ca1;">Validation methods:</span> {{ validation }}.</p>
                </div>
                <div class="form-group col-sm-3">
                    <span style="font-weight: bold; color: #236ca1;">Data file: </span>
                    {% if not record_dict['image_filename'] %}
                        <span style="font-weight: bold; color: #236ca1;">Unchanged.</span>
                    {% else %}
                        <span style="font-weight: bold; color: #b40000;">Updated to {{ record_dict['image_filename'] }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="notes">Notes</label>
                    <input class="form-control" id="notes" type="text" size=18 disabled value="{{ record_dict['notes'] }}">
                </div>
            </div>
            <div class="row">
                <div class='form-group col-xs-4'>
                    {{ form.go_back(size=32, class="form-control",style="font-weight: bold; color: #b40000;") }}
                </div>
                <div class='form-group col-xs-4'>
                    {{ form.submit(size=32, class="form-control",style="font-weight: bold; color: #236ca1;") }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
