{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h1 style="color: #b40000">Validate User</h1>
            {{ wtf.quick_form(validate_form) }}
        </div>
        <div class="col-xs-2"><!-- spacer -->
        </div>
        <div class="col-xs-4">
            <h1 style="color: #b40000">Edit Admins</h1>
            {{ wtf.quick_form(admin_form) }}
        </div>
    </div>
</div>
{% endblock %}
